@font-face {
  font-family: 'GoogleFont';
  src:  url('./google-font.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'GoogleFont';
  background: url('./icon.png');
}